/* Main calculator box styling*/
.calc {
        width: 400px;
        height: 450px;
        background-color: rgb(188, 221, 241);
        margin-left: 400px;
        border: 1px solid rgb(0, 75, 122);
        border-radius: 5%;
        }

/* screen styling */
#screen {
        width: 80%;
        height: 40px;
        margin-left: 20px;
        margin-top: 25px;
        background-color: rgb(228, 245, 208);
        border: 1px solid rgb(175, 238, 240);
        pointer-events: none;
        }

/* button styling */
.btn   {
        width: 55px;
        height: 40px;
        margin-left: 32px;
        margin-top: 30px;
        background-color: rgb(247, 233, 246);
        font-size: 20px;
        border: none;
        border-radius: 12%;
        cursor: pointer;
        }












    